<div class="container">
    <p-toolbar styleClass="mb-6" class="!w-full">
        <ng-template #start>
            <p-button label="New" icon="pi pi-plus" class="mr-2" />
            <p-button severity="danger" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedInvoices()" [disabled]="!selectedInvoices || !selectedInvoices.length" />
        </ng-template>
        
        <ng-template #end>
            <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
        </ng-template>
    </p-toolbar>

    <p-table
    #dt2
    [value]="invoices"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    [globalFilterFields]="['rentalStartDate', 'rentalEndDate', 'rentalValue', 'paymentStatus', 'contractId', 'residenceId']"
    [tableStyle]="{ 'min-width': '75rem' }"
    class="!w-full">
    <ng-template #caption>
        <div class="flex">
            <p-iconfield iconPosition="left" class="ml-auto">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input
                pInputText
                type="text"
                (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Buscar por palavra chave"
                />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th>Criado em</th>
            <th>Validade</th>
            <th>Valor</th>
            <th>Status de pagamento</th>
            <th>Contrato</th>
            <th>Imóvel</th>
            <th style="min-width: 12rem"></th>
        </tr>
        <tr>
            <th></th>
            <th>
                <p-columnFilter
                type="text"
                field="rentalStartDate"
                placeholder="Filtrar por data de criação"
                ariaLabel="Filter Name"
                ></p-columnFilter>
            </th>
            <th>
                <p-columnFilter
                type="text"
                field="rentalEndDate"
                placeholder="Filtrar por data de validade"
                ariaLabel="Filter Name"
                ></p-columnFilter>
            </th>
            <th>
                <p-columnFilter
                type="text"
                field="rentalValue"
                placeholder="Filtrar por valor"
                ariaLabel="Filter Name"
                ></p-columnFilter>
            </th>
            <th>
                <p-columnFilter
                type="text"
                field="paymentStatus"
                placeholder="Filtrar por status de pagamento"
                ariaLabel="Filter Name"
                ></p-columnFilter>
            </th>
            <th>
                <p-columnFilter
                type="text"
                field="contractId"
                placeholder="Filtrar por código do contrato"
                ariaLabel="Filter Name"
                ></p-columnFilter>
            </th>
            <th>
                <p-columnFilter
                type="text"
                field="residenceId"
                placeholder="Filtrar por código da residencia"
                ariaLabel="Filter Name"
                ></p-columnFilter>
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-invoice>
        <tr>
            <td>
                <p-tableCheckbox [value]="invoice" />
            </td>
            <td>
                {{ invoice.rentalStartDate }}
            </td>
            <td>
                {{ invoice.rentalEndDate }}
            </td>
            <td>
                {{ invoice.rentalValue }}
            </td>
            <td>
                <p-tag [value]="invoice.paymentStatus" [severity]="'warn'" />
            </td>
            <td>
                {{ invoice.contractId }}
            </td>
            <td>
                {{ invoice.residenceId }}
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editInvoice(invoice)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteInvoice(invoice)" />
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="5">No invoices found.</td>
        </tr>
    </ng-template>
</p-table>
</div>