<div class="container">
    <h1 class="title">Informe as Características do Imóvel</h1>
    <form class="form-container grid grid-cols-3 gap-4" [formGroup]="form">
        <app-input-file
        formControlName="images"
        [label]="'Imagens da Residência'"
        [invalid]="form.controls['images'].invalid"></app-input-file>
        <!-- <input type="file" (change)="onUploadFiles($any($event))"> -->

        <app-input-number
        formControlName="marketValue"
        [invalid]="form.controls['marketValue'].invalid"
        [label]="'Valor de Mercado'" 
        [icon]="'pi-moon'"></app-input-number>

        <app-input-number
        formControlName="rentalValue"
        [invalid]="form.controls['rentalValue'].invalid"
        [label]="'Valor de Aluguel'" 
        [icon]="'pi-moon'"></app-input-number>

        <app-input-textarea
        formControlName="description"
        [invalid]="form.controls['description'].invalid"
        [label]="'Descrição'" 
        [icon]="'pi-moon'"
        ></app-input-textarea>

        <app-input-number
        formControlName="numberBedrooms"
        [invalid]="form.controls['numberBedrooms'].invalid"
        [label]="'Número de Quartos'" 
        [icon]="'pi-moon'"></app-input-number>
        
        <app-input-number
        formControlName="numberSuites"
        [invalid]="form.controls['numberSuites'].invalid"
        [label]="'Número de Suites'" 
        [icon]="'pi-moon'"></app-input-number>
        
        <app-input-number
        formControlName="numberBathrooms"
        [invalid]="form.controls['numberBathrooms'].invalid"
        [label]="'Número de Banheiros'" 
        [icon]="'pi-question'"></app-input-number>
        
        <app-input-number
        formControlName="totalArea"
        [invalid]="form.controls['totalArea'].invalid"
        [label]="'Área Total'" 
        [icon]="'pi-window-maximize'"></app-input-number>
        
        <app-input-number
        formControlName="builtArea"
        [invalid]="form.controls['builtArea'].invalid"
        [label]="'Área Construída'" 
        [icon]="'pi-window-minimize'"></app-input-number>
        
        <app-input-number
        formControlName="garageSpaces"
        [invalid]="form.controls['garageSpaces'].invalid"
        [label]="'Vagas na Garagem'" 
        [icon]="'pi-car'"></app-input-number>
        
        <app-input-number
        formControlName="yearConstruction"
        [invalid]="form.controls['yearConstruction'].invalid"
        [label]="'Ano de Construção'" 
        [icon]="'pi-hammer'"></app-input-number>

        <app-input-number
        formControlName="dateLastRenovation"
        [invalid]="form.controls['dateLastRenovation'].invalid"
        [label]="'Data da última reforma'" 
        [icon]="'pi-hammer'"></app-input-number>
        
        <div class="flex flex-col gap-1">
            <p-inputgroup>
                <p-inputgroup-addon>
                    <i class="pi pi-map-marker"></i>
                </p-inputgroup-addon>
                <p-floatlabel>
                    <p-select formControlName="propertyType" [options]="propertyTypeOptions" optionLabel="name" optionValue="code" [filter]="true" filterBy="cep" [showClear]="true" placeholder="Tipo de Imóvel" class="w-full md:w-56">
                        <ng-template #selectedItem let-selectedOption>
                            <div class="flex items-center gap-2">
                                <div>{{ selectedOption.name }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-type #item>
                            <div class="flex items-center gap-2">
                                <div>{{ type.name }}</div>
                            </div>
                        </ng-template>
                    </p-select>
                </p-floatlabel>
            </p-inputgroup>
            <p-message severity="error" variant="simple" size="small" *ngIf="form.controls['propertyType'].invalid">Tipo de Imóvel é obrigatório</p-message>
        </div>
        <div class="flex flex-col gap-1">
            <p-inputgroup>
                <p-inputgroup-addon>
                    <i class="pi pi-map-marker"></i>
                </p-inputgroup-addon>
                <p-floatlabel>
                    <p-select formControlName="occupancyStatus" [options]="occupancyStatusOptions" optionLabel="name" optionValue="code" [filter]="true" filterBy="name" [showClear]="true" placeholder="Status de Ocupação" class="w-full md:w-56">
                        <ng-template #selectedItem let-selectedOption>
                            <div class="flex items-center gap-2">
                                <div>{{ selectedOption.name }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-status #item>
                            <div class="flex items-center gap-2">
                                <div>{{ status.name }}</div>
                            </div>
                        </ng-template>
                    </p-select>
                </p-floatlabel>
            </p-inputgroup>
            <p-message severity="error" variant="simple" size="small" *ngIf="form.controls['occupancyStatus'].invalid">Status de Ocupação é obrigatório</p-message>
        </div>
    </form>
</div>