<div class="container">
    <h1 class="title">Informe as Características do Imóvel</h1>
    <form class="form-container grid grid-cols-3 gap-4" [formGroup]="form">    
        <app-input-number
        formControlName="marketValue"
        [invalid]="form.controls['marketValue'].invalid"
        [label]="'Valor de Mercado'" 
        [icon]="'pi-moon'"></app-input-number>
        
        <app-input-number
        formControlName="rentalValue"
        [invalid]="form.controls['rentalValue'].invalid"
        [label]="'Valor de Aluguel'" 
        [icon]="'pi-moon'"></app-input-number>
        
        <app-input-number
        formControlName="numberBedrooms"
        [invalid]="form.controls['numberBedrooms'].invalid"
        [label]="'Número de Quartos'" 
        [icon]="'pi-moon'"></app-input-number>
        
        <app-input-number
        formControlName="numberSuites"
        [invalid]="form.controls['numberSuites'].invalid"
        [label]="'Número de Suites'" 
        [icon]="'pi-moon'"></app-input-number>
        
        <app-input-number
        formControlName="numberBathrooms"
        [invalid]="form.controls['numberBathrooms'].invalid"
        [label]="'Número de Banheiros'" 
        [icon]="'pi-question'"></app-input-number>
        
        <app-input-number
        formControlName="totalArea"
        [invalid]="form.controls['totalArea'].invalid"
        [label]="'Área Total'" 
        [icon]="'pi-window-maximize'"></app-input-number>
        
        <app-input-number
        formControlName="builtArea"
        [invalid]="form.controls['builtArea'].invalid"
        [label]="'Área Construída'" 
        [icon]="'pi-window-minimize'"></app-input-number>
        
        <app-input-number
        formControlName="garageSpaces"
        [invalid]="form.controls['garageSpaces'].invalid"
        [label]="'Vagas na Garagem'" 
        [icon]="'pi-car'"></app-input-number>
        
        <app-input-number
        formControlName="yearConstruction"
        [invalid]="form.controls['yearConstruction'].invalid"
        [label]="'Ano de Construção'" 
        [icon]="'pi-hammer'"></app-input-number>
        
        <app-input-number
        formControlName="dateLastRenovation"
        [invalid]="form.controls['dateLastRenovation'].invalid"
        [label]="'Data da última reforma'" 
        [icon]="'pi-hammer'"></app-input-number>
        
        <app-input-select
        formControlName="propertyType"
        [invalid]="form.controls['propertyType'].invalid"
        [label]="'Tipo de Imóvel'" 
        [icon]="'pi-map-marker'"
        [items]="propertyTypeOptions"></app-input-select>
        
        <app-input-select
        formControlName="occupancyStatus"
        [invalid]="form.controls['occupancyStatus'].invalid"
        [label]="'Status de Ocupação'" 
        [icon]="'pi-map-marker'"
        [items]="occupancyStatusOptions"></app-input-select>
        
        <app-input-textarea
        formControlName="description"
        [invalid]="form.controls['description'].invalid"
        [label]="'Descrição'" 
        [icon]="'pi-moon'"
        ></app-input-textarea>

        <div formGroupName="images" class="col-span-3">
            <div class="grid grid-cols-3 gap-2">
                <div class="p-2">
                    <div>
                        <p class="mb-2"><i>Fachada.</i></p>
                        <app-input-file
                        formControlName="mainFacade"
                        [label]="'[Mínimo de 01 foto e Máximo de 02 fotos] Imagens da Fachada'"
                        [invalid]="form.get('images.mainFacade')?.invalid ?? false"></app-input-file>
                    </div>
                </div>
                <div class="p-2">
                    <div>
                        <p class="mb-2"><i>Sala de Estar.</i></p>
                        <app-input-file
                        formControlName="livingRoom"
                        [label]="'[Mínimo de 01 foto e Máximo de 02 fotos] Imagens da Sala de Estar'"
                        [invalid]="form.get('images.livingRoom')?.invalid ?? false"></app-input-file>
                    </div>
                </div>
                <div class="p-2">
                    <div>
                        <p class="mb-2"><i>Sala de Jantar.</i></p>
                        <app-input-file
                        formControlName="diningRoom"
                        [label]="'[Mínimo de 01 foto e Máximo de 02 fotos] Imagens da Sala de Jantar'"
                        [invalid]="form.get('images.diningRoom')?.invalid ?? false"></app-input-file>
                    </div>
                </div>
                <div class="p-2">
                    <div>
                        <p class="mb-2"><i>Cozinha.</i></p>
                        <app-input-file
                        formControlName="kitchen"
                        [label]="'[Mínimo de 01 foto e Máximo de 04 fotos] Imagens da Cozinha'"
                        [invalid]="form.get('images.kitchen')?.invalid ?? false"></app-input-file>
                    </div>
                </div>
                <div class="p-2">
                    <div>
                        <p class="mb-2"><i>Quartos.</i></p>
                        <app-input-file
                        formControlName="bedrooms"
                        [label]="'[Mínimo de 01 foto e Máximo de 04 fotos] Imagens dos Quartos'"
                        [invalid]="form.get('images.bedrooms')?.invalid ?? false"></app-input-file>
                    </div>
                </div>
                <div class="p-2">
                    <div>
                        <p class="mb-2"><i>Banheiros.</i></p>
                        <app-input-file
                        formControlName="bathrooms"
                        [label]="'[Mínimo de 01 foto e Máximo de 04 fotos] Imagens dos Banheiros'"
                        [invalid]="form.get('images.bathrooms')?.invalid ?? false"></app-input-file>
                    </div>
                </div>
                <div class="p-2">
                    <div>
                        <p class="mb-2"><i>Área de Serviço.</i></p>
                        <app-input-file
                        formControlName="serviceArea"
                        [label]="'[Mínimo de 01 foto e Máximo de 02 fotos] Imagens da Área de Serviço'"
                        [invalid]="form.get('images.serviceArea')?.invalid ?? false"></app-input-file>
                    </div>
                </div>
                <div class="p-2">
                    <div>
                        <p class="mb-2"><i>Garagem.</i></p>
                        <app-input-file
                        formControlName="garage"
                        [label]="'[Mínimo de 01 foto e Máximo de 02 fotos] Imagens da Garagem'"
                        [invalid]="form.get('images.garage')?.invalid ?? false"></app-input-file>
                    </div>
                </div>
                <div class="p-2">
                    <div>
                        <p class="mb-2"><i>Quintal.</i></p>
                        <app-input-file
                        formControlName="backyard"
                        [label]="'[Mínimo de 01 foto e Máximo de 02 fotos] Imagens do Quintal'"
                        [invalid]="form.get('images.backyard')?.invalid ?? false"></app-input-file>
                    </div>
                </div>
                <div class="p-2">
                    <div>
                        <p class="mb-2"><i>Detalhes do Interior.</i></p>
                        <app-input-file
                        formControlName="interiorDetails"
                        [label]="'[Mínimo de 01 foto e Máximo de 04 fotos] Imagens dos Detalhes do Interior'"
                        [invalid]="form.get('images.interiorDetails')?.invalid ?? false"></app-input-file>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>