<div class="container">
    <h1 class="title">Informe as Características do Imóvel</h1>
    <form class="form-container grid grid-cols-3 gap-4" [formGroup]="form">    
        <app-input-number
        formControlName="marketValue"
        [invalid]="form.controls['marketValue'].invalid"
        [label]="'Valor de Mercado'" 
        [icon]="'pi-moon'"></app-input-number>
        
        <app-input-number
        formControlName="rentalValue"
        [invalid]="form.controls['rentalValue'].invalid"
        [label]="'Valor de Aluguel'" 
        [icon]="'pi-moon'"></app-input-number>
        
        <app-input-number
        formControlName="numberBedrooms"
        [invalid]="form.controls['numberBedrooms'].invalid"
        [label]="'Número de Quartos'" 
        [icon]="'pi-moon'"></app-input-number>
        
        <app-input-number
        formControlName="numberSuites"
        [invalid]="form.controls['numberSuites'].invalid"
        [label]="'Número de Suites'" 
        [icon]="'pi-moon'"></app-input-number>
        
        <app-input-number
        formControlName="numberBathrooms"
        [invalid]="form.controls['numberBathrooms'].invalid"
        [label]="'Número de Banheiros'" 
        [icon]="'pi-question'"></app-input-number>
        
        <app-input-number
        formControlName="totalArea"
        [invalid]="form.controls['totalArea'].invalid"
        [label]="'Área Total'" 
        [icon]="'pi-window-maximize'"></app-input-number>
        
        <app-input-number
        formControlName="builtArea"
        [invalid]="form.controls['builtArea'].invalid"
        [label]="'Área Construída'" 
        [icon]="'pi-window-minimize'"></app-input-number>
        
        <app-input-number
        formControlName="garageSpaces"
        [invalid]="form.controls['garageSpaces'].invalid"
        [label]="'Vagas na Garagem'" 
        [icon]="'pi-car'"></app-input-number>
        
        <app-input-number
        formControlName="yearConstruction"
        [invalid]="form.controls['yearConstruction'].invalid"
        [label]="'Ano de Construção'" 
        [icon]="'pi-hammer'"></app-input-number>
        
        <app-input-number
        formControlName="dateLastRenovation"
        [invalid]="form.controls['dateLastRenovation'].invalid"
        [label]="'Data da última reforma'" 
        [icon]="'pi-hammer'"></app-input-number>
        
        <app-input-select
        formControlName="propertyType"
        [invalid]="form.controls['propertyType'].invalid"
        [label]="'Tipo de Imóvel'" 
        [icon]="'pi-map-marker'"
        [items]="propertyTypeOptions"></app-input-select>
        
        <app-input-select
        formControlName="occupancyStatus"
        [invalid]="form.controls['occupancyStatus'].invalid"
        [label]="'Status de Ocupação'" 
        [icon]="'pi-map-marker'"
        [items]="occupancyStatusOptions"></app-input-select>

        <div>
            <p class="mb-2"><i>*É obrigatório adicionar ao menos 05 fotos da propriedade.</i></p>
            <app-input-file
            formControlName="images"
            [label]="'[Mínimo 05 fotos] Imagens da Residência'"
            [invalid]="form.controls['images'].invalid || !propertyFormService.areImagesValid()"></app-input-file>
        </div>
        
        <app-input-textarea
        formControlName="description"
        [invalid]="form.controls['description'].invalid"
        [label]="'Descrição'" 
        [icon]="'pi-moon'"
        ></app-input-textarea>
    </form>
</div>