:host{
    width: 100%;
}

.content-block{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    
    .header{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        padding: 2vh 0;
        border-bottom: 1px solid rgba(128, 128, 128, 0.39);
        
        p{
            font-size: .9vw;
            text-transform: uppercase;
        }
        
        h2{
            font-size: 1.8vw;
            font-weight: 500;
            text-transform: capitalize;
        }
    }
    
    .data-container{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
        padding: 4vh 0;

        &.grid-template{
            display: grid;
            grid-template-columns: repeat(2, 1fr); 
            grid-template-rows: repeat(1, 1fr);
            gap: 1vw;
        }
    }
}