:host{
    width: 100% !important;
}

.container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1vw;
    
    .item{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        background-color: #fff;
        border-radius: 10px;
        transition: all .1s ease-in-out;
        cursor: pointer;
        
        &:hover{
            background-color: rgb(218, 218, 218);
            transition: all .1s ease-in-out;
        }
    }
}

::ng-deep {
    .p-avatar-icon{
        transform: translate(-50%, -50%) !important;
    }
}