:host{
    width: 100%;
}

.container{
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding: 1vh 0;
    margin-bottom: 2.5vh;
    
    .config-btn{
        margin-left: 1vw;
        
        ::ng-deep .p-button-icon{
            font-size: 2rem !important;
            color: #222 !important;
        }
    }
    
    p-megamenu{
        width: 75%;
        z-index: 999;
        
        ::ng-deep .p-megamenu{
            border-radius: 50px !important;
            padding: 1rem 3.5rem;
        }
        
        ::ng-deep .p-splitbutton{
            border-radius: 50px !important;
        }
        
        ::ng-deep .p-splitbutton-button{
            padding: 1.2vh .5vw 1.2vh 1vw;
            border-radius: 50px 0 0 50px;
            background-color: #353128;
            border-color: #353128;
            font-size: max(.8vw, 10px);
        }
        
        ::ng-deep .p-splitbutton-dropdown{
            padding: 1vh 1vw 1vh .5vw !important;
            border-radius: 0 50px 50px 0;
            background-color: #353128;
            border-color: #353128;
        }
        
        ::ng-deep .p-megamenu-item:not(.p-disabled) > .p-megamenu-item-content:hover{
            background-color: transparent !important;
            opacity: .5 !important;
        }
        
        ::ng-deep .p-megamenu-item-content{
            padding: .5vh .5vw !important;
            cursor: pointer;
        }
        
        ::ng-deep .p-megamenu-item-active > .p-megamenu-item-content{
            background-color: rgb(241, 245, 249);
        }
        
        .img-container{
            position: relative;
            display: flex;
            align-items: center;
            gap: .2vw;
            cursor: pointer;
            
            img{
                width: fit-content;
                height: 50px;
                object-fit: contain;
                font-weight: 600;
                filter: invert(85%);
            }
            
            h3{
                font-size: max(1.3vw, 15px);
            }
        }
    }
    
    ::ng-deep {
        p-megamenu .p-megamenu{
            display: flex;
            justify-content: space-between !important;
            
            .p-megamenu-end{
                margin-left: 0 !important;
            }
        }
        
        .p-megamenu-overlay{
            min-width: inherit;
            left: 50%;
            transform: translateX(-50%);
        }
        
        .p-megamenu-end{
            .owner-button{
                span{
                    color: #334155 !important;
                    font-weight: 400 !important;
                }
            }
            
            .p-button{
                padding-right: 1.5vw;
                padding-left: 1.5vw;
                font-size: 1rem !important;
            }
        }
    }
}

