<app-breadcrumb [breadCrumbItems]="breadCrumbItems"></app-breadcrumb>

<app-dashboard-base [title]="'Imóveis'">
    <app-content-block [title]="'Cadastrar Característica'" [type]="'Formulário'">
        <div class="child">
            <form [formGroup]="form" storage="property-feature-form" class="form-container">
                <app-input-text
                formControlName="feature"
                [invalid]="form.controls['feature'].invalid"
                [label]="'Característica'" 
                [icon]="'pi-map-marker'"></app-input-text>
                <div class="flex">
                    <p-button class="mr-2" label="Salvar" icon="pi pi-check" iconPos="right" (onClick)="postForm()"/>
                    <p-button label="Limpar" icon="pi pi-eraser" iconPos="right" severity="contrast" (onClick)="propertyFeatureCreateForm.clearForm()"/>
                </div>
            </form>
            <app-form-errors 
            [item]="'Característica de imóvel'"
            [loading]="propertyFeatureCreateForm.getLoading()"
            [success]="propertyFeatureCreateForm.getSendSuccess()"
            [errors]="propertyFeatureCreateForm.getErrorList()"></app-form-errors>
        </div>
    </app-content-block>
</app-dashboard-base>