<p-fileupload 
    #fileUpload
    name="demo[]"
    (onSelect)="onFileSelect($any($event))" 
    (onClear)="onClearFiles()"
    (onRemove)="onRemove($event)"
    [multiple]="true" 
    accept="image/*" 
    maxFileSize="1000000" 
    mode="advanced"
    [showUploadButton]="false"
    chooseLabel="Selecionar Arquivos"
    cancelLabel="Cancelar Seleção">
    <ng-template #empty>
        <div>Arraste as fotos aqui.</div>
    </ng-template>
</p-fileupload>
<p-message severity="error" variant="simple" size="small" *ngIf="invalid">{{ label }} é obrigatório</p-message>