.template-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    
    .child{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        
        &.aside{
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            width: fit-content;
            z-index: 2;
            align-items: center;
            gap: 1vw;
            flex-direction: row-reverse;
            padding: 0 12vw;
            margin: 2vh 0 5vh 0;
            
            .header{
                position: relative;
                display: flex;
                width: 100%;
                height: fit-content;
                align-items: center;
                
                img{
                    object-fit: contain;
                }
                
                p{
                    font-size: 2vw;
                    color: #222;
                }
            }
        }
        
        &.content{
            width: 100%;
            z-index: 1;
        }
    }
}