:host{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}

.content-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 75%;
    height: fit-content;
    align-items: center;
    gap: 7vh;
    
    .header{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        align-items: center;
        justify-content: center;
        gap: 1vh;
        
        p#top{
            font-size: 1.2vw;
            font-family: "Playfair", serif;
            background-color: #fff;
            border-radius: 30px;
            padding: .5vh 1.5vw;
        }
        
        h1{
            font-size: 2.6vw;
            font-weight: 600;
        }
        
        #bottom{
            font-size: .9vw !important;
            width: 84% !important;
            text-align: center;
        }
    }
    
    .properties-container{
        position: relative;
        width: 100%;
        height: fit-content;
        
        .item{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: fit-content;
            border-radius: 20px;

            #accordion-title{
                width: 90%;
                color: #4b4b4b;
                font-size: 1.1vw;
                font-weight: 500;
            }

            ::ng-deep .p-accordionpanel{
                border: none;
            }

            ::ng-deep .p-accordioncontent-content{
                padding: 0 !important;
            }

            ::ng-deep .p-accordioncontent-content p{
                font-family: "Playfair", serif !important;
                font-size: 1.1vw;
            }

            ::ng-deep .p-accordionpanel > .p-accordionheader{
                padding: 0;
            }
        }
    }
}