<section class="content-container">
    <div class="header">
        <p id="top" class="font-medium">FAQ's</p>
        <h1>Perguntas Frequentes</h1>
        <p id="bottom" class="!text-gray-600">Answers to commom questions about our services, processes, and what sets us apart.</p>
    </div>
    <div class="properties-container grid grid-cols-2 gap-10">
        <div class="item bg-white p-8">
            <p-accordion value="0">
                <p-accordion-panel value="1">
                    <p-accordion-header><p id="accordion-title">We were amazed by how quickly Monolith helped us secure a home that?</p></p-accordion-header>
                    <p-accordion-content>
                        <p class="m-0 mt-5 !text-gray-500">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio alias totam in modi iure nam corporis inventore repellat quam explicabo fuga ab dolorum dignissimos, consequuntur obcaecati? Sed obcaecati eaque quasi.
                        </p>
                    </p-accordion-content>
                </p-accordion-panel>
            </p-accordion>
        </div>
        <div class="item bg-white p-8">
            <p-accordion value="0">
                <p-accordion-panel value="1">
                    <p-accordion-header><p id="accordion-title">We were amazed by how quickly Monolith helped us secure a home that?</p></p-accordion-header>
                    <p-accordion-content>
                        <p class="m-0 mt-5 !text-gray-500">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, magni eaque adipisci voluptas, laboriosam ipsum consequatur iure ut blanditiis id aliquid odio debitis corrupti voluptates deleniti vel dicta laborum numquam!
                        </p>
                    </p-accordion-content>
                </p-accordion-panel>
            </p-accordion>
        </div>
        <div class="item bg-white p-8">
            <p-accordion value="0">
                <p-accordion-panel value="1">
                    <p-accordion-header><p id="accordion-title">We were amazed by how quickly Monolith helped us secure a home that?</p></p-accordion-header>
                    <p-accordion-content>
                        <p class="m-0 mt-5 !text-gray-500">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur illo placeat voluptatum, facilis incidunt quo. Suscipit ea culpa natus pariatur velit ipsam laborum earum eaque atque nobis, doloremque rerum minus.
                        </p>
                    </p-accordion-content>
                </p-accordion-panel>
            </p-accordion>
        </div>
        <div class="item bg-white p-8">
            <p-accordion value="0">
                <p-accordion-panel value="1">
                    <p-accordion-header><p id="accordion-title">We were amazed by how quickly Monolith helped us secure a home that?</p></p-accordion-header>
                    <p-accordion-content>
                        <p class="m-0 mt-5 !text-gray-500">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, ea in obcaecati molestiae voluptates hic animi quis eos, dolores laboriosam quod non maiores quae? Recusandae soluta labore veniam dolore exercitationem.
                        </p>
                    </p-accordion-content>
                </p-accordion-panel>
            </p-accordion>
        </div>
        <div class="item bg-white p-8">
            <p-accordion value="0">
                <p-accordion-panel value="1">
                    <p-accordion-header><p id="accordion-title">We were amazed by how quickly Monolith helped us secure a home that?</p></p-accordion-header>
                    <p-accordion-content>
                        <p class="m-0 mt-5 !text-gray-500">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur assumenda voluptate officia veritatis et fugiat corporis esse rem corrupti amet asperiores mollitia, obcaecati iure eum reiciendis maxime perferendis id non.
                        </p>
                    </p-accordion-content>
                </p-accordion-panel>
            </p-accordion>
        </div>
        <div class="item bg-white p-8">
            <p-accordion value="0">
                <p-accordion-panel value="1">
                    <p-accordion-header><p id="accordion-title">We were amazed by how quickly Monolith helped us secure a home that?</p></p-accordion-header>
                    <p-accordion-content>
                        <p class="m-0 mt-5 !text-gray-500">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius explicabo nam quaerat deleniti saepe officia quae. Voluptatibus veritatis ducimus perferendis cumque unde, vero doloribus, dolor deserunt porro consequuntur rem facere.
                        </p>
                    </p-accordion-content>
                </p-accordion-panel>
            </p-accordion>
        </div>
    </div>        
</section>