<div class="rounded-border overflow-hidden h-full" [ngStyle]="{backgroundColor:'#fff'}"  [style]="{'cursor': 'pointer'}">
    <div>
        <div class="relative">
            <p *ngIf="loadingImages">Carregando...</p>
            <p-galleria [value]="images" (valueChange)="images = $any($event)" [numVisible]="5" [circular]="true" [showItemNavigators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px' }">
                <ng-template #item let-item>
                    <p-image [src]="item" [preview]="true" [alt]="propertyMinimal.propertyType" class="w-full h-full">
                        <ng-template #indicator>
                            <i class="pi pi-search"></i>
                        </ng-template>
                        <ng-template #image>
                            <img [src]="item" alt="image" class="w-full h-full" />
                        </ng-template>
                        <ng-template #preview let-style="style" let-previewCallback="previewCallback">
                            <img [src]="item" alt="image" [style]="style" (click)="previewCallback()" class="h-full"/>
                        </ng-template>
                    </p-image>
                </ng-template>
            </p-galleria>
        </div>
    </div>
    <div class="p-4">
        <div class="mb-2 font-medium text-xl text-gray-500 font-medium">{{ getPropertyType(propertyMinimal.propertyType) }}</div>
        <div class="flex justify-between items-center">
            <div class="mt-0 mb-2 font-semibold text-3xl text-emerald-900 flex items-center">
                {{ 'R$ ' + propertyMinimal.rentalValue }} 
                <span class="text-base text-gray-500 font-normal ml-1.5">/mês</span> 
            </div>
            <span>
                <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
                <p-button icon="pi pi-eye" styleClass="ml-2" [routerLink]="['/imovel/'+propertyMinimal.id]" />
            </span>
        </div>
        <div class="mb-4 font-medium text-gray-600 font-normal">
            {{ propertyMinimal.fullAddress }}
        </div>
        <p-divider />
        <div class="flex justify-between items-center flex-nowrap space-x-6">
            <div class="flex space-x-4 items-center">
                <i class="pi pi-moon text-gray-500"></i>
                <p class="!text-gray-500 whitespace-nowrap">{{ propertyMinimal.numberBedrooms }} Quartos</p>
            </div>
            <div class="flex space-x-4 items-center">
                <i class="pi pi-window-minimize text-gray-500"></i>
                <p class="!text-gray-500 whitespace-nowrap">{{ propertyMinimal.totalArea }} m<sup>2</sup></p>
            </div>
            <div class="flex space-x-4 items-center">
                <i class="pi pi-car text-gray-500"></i>
                <p class="!text-gray-500 whitespace-nowrap">{{ propertyMinimal.garageSpaces }} Vagas</p>
            </div>
        </div>
    </div>
</div>