<app-breadcrumb [breadCrumbItems]="breadCrumbItems"></app-breadcrumb>

<app-dashboard-base [title]="'Faturas'">
    <app-content-block [title]="'Cadastrar Fatura'" [type]="'Formulário'">
        <div class="child">
            <form class="form-container" [formGroup]="form" storage="invoice-form">
                <app-input-datepicker
                formControlName="rentalStartDate"
                [invalid]="form.controls['rentalStartDate'].invalid"
                [label]="'Data de criação'"></app-input-datepicker>
                
                <app-input-select
                formControlName="paymentStatus"
                [invalid]="form.controls['paymentStatus'].invalid"
                [label]="'Status de pagamento'" 
                [icon]="'pi-map-marker'"
                [items]="paymentStatus"></app-input-select>

                <app-input-select
                formControlName="contractId"
                [invalid]="form.get('contractId')?.invalid ?? false"
                [label]="'Contrato'" 
                [icon]="'pi-map-marker'"
                [items]="contractsSelect"></app-input-select>

                <div class="flex">
                    <p-button class="mr-2" label="Salvar" icon="pi pi-check" iconPos="right" (onClick)="postForm()"/>
                    <p-button label="Limpar" icon="pi pi-eraser" iconPos="right" severity="contrast" (onClick)="invoiceCreateForm.clearForm()"/>
                </div>
            </form>
            <app-form-errors 
            [item]="'Fatura'"
            [loading]="invoiceCreateForm.getLoading()"
            [success]="invoiceCreateForm.getSendSuccess()"
            [errors]="invoiceCreateForm.getErrorList()"></app-form-errors>
        </div>
    </app-content-block>
</app-dashboard-base>