:host{
    width: 100%;
}

.child{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: fit-content;
    
    &.extra-space{
        padding: 2vw;
        background-color: #fff;
        border-radius: 10px;
    }
    
    .form-container{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
        gap: 3vh;
        padding-right: 2vw;

        .child-date{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            height: fit-content;
            gap: 1vh;
            
            h2{
                font-size: 1vw;
                font-weight: 400;
            }
        }
    }
    
    .alerts-container{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        margin-top: 5vh;
        
        ::ng-deep{
            .p-message{
                width: fit-content !important;
            }
        }
    }
}

::ng-deep {
    .p-inputgroup .p-inputtext,
    .p-datepicker,
    .p-password{
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    .p-breadcrumb{ 
        background-color: transparent;
        padding: 2vh 12vw;
    }
}