:host{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}

.content-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    padding-left: 12vw;
    gap: 7vh;
    
    .header{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
        justify-content: space-between;
        align-items: center;
        padding-right: 12vw;
        
        .child{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            width: fit-content;
            height: fit-content;
            
            h1{
                font-size: 2.5vw;
                font-weight: 600;
                line-height: 7vh;
            }
            
            &.second{
                align-items: center;
                gap: 1vw;
                
                p{
                    font-size: 1.5vw;
                    text-align: end;
                    font-family: "Noto Serif", serif;
                    font-weight: 400;
                    margin-right: 1vw;
                    
                    a{
                        font-weight: 600;
                        font-size: 1vw;
                        text-decoration: underline;
                    }
                }
                
                button{
                    position: relative;
                    display: flex;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: #222;
                    color: #fff;
                    justify-content: center;
                    align-items: center;
                    
                    i{
                        font-weight: 900;
                    }
                }
            }
        }
    }
    
    .carousel-container{
        position: relative;
        display: flex;
        width: 100%;
        height: fit-content;
        
        ::ng-deep .p-carousel{
            &::after{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 70px;
                height: 100%;
                background: linear-gradient(270deg, rgba(242, 241, 239, 1), rgba(242, 241, 239, .1));
                z-index: 10;
                pointer-events: none !important;
            }
        }
        
        ::ng-deep .p-carousel-viewport{
            padding-bottom: 1vh !important;
        }
        
        ::ng-deep .p-carousel-item {
            min-width: 0;
        }
    }
}