<p-breadcrumb class="max-w-full" [model]="items">
    <ng-template #item let-item>
        <ng-container *ngIf="item.route; else elseBlock">
            <a [routerLink]="item.route" class="p-breadcrumb-item-link">
                <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
                <span class="text-primary font-semibold">{{ item.label }}</span>
            </a>
        </ng-container>
        <ng-template #elseBlock>
            <a [href]="item.url">
                <span class="text-color">{{ item.label }}</span>
            </a>
        </ng-template>
    </ng-template>
</p-breadcrumb>

<app-dashboard-base [title]="'Faturas'">
    <app-content-block [title]="'Cadastrar Fatura'" [type]="'Formulário'">
        <div class="child">
            <form class="form-container" [formGroup]="form" storage="invoice-form">
                <div class="child-date">
                    <h2>Data de criação</h2>
                    <p-datepicker formControlName="rentalStartDate" dateFormat="yy-mm-dd" dataType="string" class="max-w-full" [inline]="true" [showWeek]="true" />
                    <p-message severity="error" variant="simple" size="small" *ngIf="form.controls['rentalStartDate'].invalid">Data de criação é obrigatório</p-message>
                </div>
                <app-input-select
                formControlName="paymentStatus"
                [invalid]="form.controls['paymentStatus'].invalid"
                [label]="'Status de pagamento'" 
                [icon]="'pi-map-marker'"
                [items]="paymentStatus"></app-input-select>
                <div formGroupName="contract">
                    <app-input-select
                    formControlName="id"
                    [invalid]="form.get('contract.id')?.invalid ?? false"
                    [label]="'Contrato'" 
                    [icon]="'pi-map-marker'"
                    [items]="contractsSelect"></app-input-select>
                </div>
                <div class="flex">
                    <p-button class="mr-2" label="Salvar" icon="pi pi-check" iconPos="right" (onClick)="submit()"/>
                    <p-button label="Limpar" icon="pi pi-eraser" iconPos="right" severity="contrast" (onClick)="cleanForm()"/>
                </div>
            </form>
            <ul class="ml-2 w-full alerts-container">
                <p-message *ngIf="loading" severity="info" icon="pi pi-send" text="Carregando..." />
                <p-message *ngIf="sendSuccess" severity="success" icon="pi pi-check-circle" styleClass="mb-2">Fatura cadastrada com sucesso!</p-message>
                <p-message *ngFor="let err of errorList" severity="error" icon="pi pi-times-circle" styleClass="mb-2">
                    {{ err.field }}: {{ err.message }}
                </p-message>
            </ul>
        </div>
    </app-content-block>
</app-dashboard-base>