<app-breadcrumb [breadCrumbItems]="breadCrumbItems"></app-breadcrumb>

<app-dashboard-base [title]="'Imóveis'">
    <app-content-block [title]="'Adicionar Característica a Imóvel'" [type]="'Formulário'">
        <div class="child">
            <form [formGroup]="form" storage="property-feature-add-form" class="form-container">
                <app-input-select
                formControlName="propertyId"
                [invalid]="form.get('propertyId')?.invalid ?? false"
                [label]="'Imóvel'" 
                [icon]="'pi-map-marker'"
                [items]="propertiesSelect"></app-input-select>
                <app-input-select
                formControlName="featureId"
                [invalid]="form.get('featureId')?.invalid ?? false"
                [label]="'Recurso'" 
                [icon]="'pi-map-marker'"
                [items]="featuresSelect"></app-input-select>
                <div class="flex">
                    <p-button class="mr-2" label="Salvar" icon="pi pi-check" iconPos="right" (onClick)="postForm()"/>
                    <p-button label="Limpar" icon="pi pi-eraser" iconPos="right" severity="contrast" (onClick)="propertyFeatureAddForm.clearForm()"/>
                </div>
            </form>
            <app-form-errors 
            [item]="'Característica de imóvel'"
            [loading]="propertyFeatureAddForm.getLoading()"
            [success]="propertyFeatureAddForm.getSendSuccess()"
            [errors]="propertyFeatureAddForm.getErrorList()"></app-form-errors>
        </div>
    </app-content-block>
</app-dashboard-base>