<form [formGroup]="form">
    <app-standard-profile-edit-form
    [form]="form"
    [authUserForm]="authUserForm"
    [accountType]="accountType"
    [postForm]="postForm">
    <app-input-mask 
    formControlName="cpf"
    [isDisabled]="this.form.controls['cpf'].disabled"
    [invalid]="form.controls['cpf'].invalid"
    [label]="'CPF'"
    [icon]="'pi-id-card'"
    [inputMask]="'999.999.999-99'"></app-input-mask>
    
    <app-input-mask 
    formControlName="rg"
    [isDisabled]="this.form.controls['rg'].disabled"
    [invalid]="form.controls['rg'].invalid"
    [label]="'RG'"
    [icon]="'pi-id-card'"
    [inputMask]="'99.999.999-9'"></app-input-mask>
</app-standard-profile-edit-form>
</form>