<app-breadcrumb [breadCrumbItems]="breadCrumbItems"></app-breadcrumb>

<app-dashboard-base [title]="'Proprietários'">
    <app-content-block [title]="'Cadastrar Proprietário'" [type]="'Formulário'">
        <div class="child">
            <form [formGroup]="form" storage="owner-form" class="form-container">
                <app-input-text
                formControlName="name"
                [invalid]="form.controls['name'].invalid"
                [label]="'Nome'" 
                [icon]="'pi-pencil'"></app-input-text>

                <app-input-mask 
                formControlName="phone"
                [invalid]="form.controls['phone'].invalid"
                [label]="'Telefone'"
                [icon]="'pi-mobile'"
                [inputMask]="'(99) 99999-9999'"></app-input-mask>

                <app-input-text
                formControlName="email"
                [invalid]="form.controls['email'].invalid"
                [label]="'E-mail'" 
                [icon]="'pi-at'"></app-input-text>
                
                <div class="flex">
                    <p-button class="mr-2" label="Salvar" icon="pi pi-check" iconPos="right" (onClick)="postForm()"/>
                    <p-button label="Limpar" icon="pi pi-eraser" iconPos="right" severity="contrast" (onClick)="ownerCreateForm.clearForm()"/>
                </div>
            </form>
            <app-form-errors 
            [item]="'Proprietário'"
            [loading]="ownerCreateForm.getLoading()"
            [success]="ownerCreateForm.getSendSuccess()"
            [errors]="ownerCreateForm.getErrorList()"></app-form-errors>
        </div>
    </app-content-block>
</app-dashboard-base>