<div class="card flex flex-wrap flex-col w-full">
    <p-select [options]="items" [(ngModel)]="value" optionLabel="name" optionValue="code" [filter]="true" filterBy="name" [showClear]="true" placeholder="{{ label }}" class="w-full">
        <ng-template #selectedItem let-selectedOption>
            <div class="flex items-center gap-2">
                <div>{{ selectedOption.name }}</div>
            </div>
        </ng-template>
        <ng-template let-listItem #item>
            <div class="flex items-center gap-2">
                <div>{{ listItem.name }}</div>
            </div>
        </ng-template>
    </p-select>
    <p-message severity="error" variant="simple" size="small" *ngIf="invalid">
        {{ label }} é obrigatório
    </p-message>
</div>