<section class="content-container">
    <div class="header">
        <p>Seamless and friendly service</p>
        <h1>Popular choices nearby</h1>
        <div class="places-container">
            <div class="item active">Uberlândia</div>
            <div class="item">Uberaba</div>
            <div class="item">Monte Carmelo</div>
            <div class="item">Araguari</div>
        </div>
    </div>
    <div class="properties-container grid grid-cols-3 gap-10">
        <div class="item" *ngFor="let property of properties">
            <app-property-minimal [propertyMinimal]="property"></app-property-minimal>
        </div>
    </div>
</section>
