<div class="property-details-container">
    <div class="main">
        <div class="topic !pt-0">
            <h1 class="title">Descrição</h1>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ipsum unde quis dolores reiciendis, aspernatur deserunt minima repudiandae quasi! Nobis, itaque ea aspernatur vitae hic nesciunt voluptatibus facere quisquam ex.</p>
            <div class="items-number-container">
                <div class="flex space-x-2 items-center">
                    <i class="pi pi-moon text-gray-500"></i>
                    <p class="!text-gray-500 whitespace-nowrap">1 Quartos</p>
                </div>
                <div class="flex space-x-4 items-center">
                    <i class="pi pi-window-minimize text-gray-500"></i>
                    <p class="!text-gray-500 whitespace-nowrap">1 m<sup>2</sup></p>
                </div>
                <div class="flex space-x-4 items-center">
                    <i class="pi pi-car text-gray-500"></i>
                    <p class="!text-gray-500 whitespace-nowrap">1 Vagas</p>
                </div>
                <div class="flex space-x-2 items-center">
                    <i class="pi pi-moon text-gray-500"></i>
                    <p class="!text-gray-500 whitespace-nowrap">1 Quartos</p>
                </div>
                <div class="flex space-x-4 items-center">
                    <i class="pi pi-window-minimize text-gray-500"></i>
                    <p class="!text-gray-500 whitespace-nowrap">1 m<sup>2</sup></p>
                </div>
                <div class="flex space-x-4 items-center">
                    <i class="pi pi-car text-gray-500"></i>
                    <p class="!text-gray-500 whitespace-nowrap">1 Vagas</p>
                </div>
            </div>
        </div>
        <div class="topic">
            <h1 class="title">Revisão da Propriedade</h1>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus autem nemo unde vel ab voluptate labore magnam dolorem amet praesentium? Animi fugit doloremque architecto ex sed, est ut consequuntur maiores?</p>
            <ul class="list">
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ul>
        </div>
        <div class="topic">
            <h1 class="title">Comodidades</h1>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus autem nemo unde vel ab voluptate labore magnam dolorem amet praesentium?</p>
            <div class="amenities-container">
                <div class="item">
                    <div class="icon">
                        <i class="pi pi-camera"></i>
                    </div>
                    <div class="name">Câmeras 24/7</div>
                </div>
                <div class="item">
                    <div class="icon">
                        <i class="pi pi-camera"></i>
                    </div>
                    <div class="name">Câmeras 24/7</div>
                </div>
                <div class="item">
                    <div class="icon">
                        <i class="pi pi-camera"></i>
                    </div>
                    <div class="name">Câmeras 24/7</div>
                </div>
                <div class="item">
                    <div class="icon">
                        <i class="pi pi-camera"></i>
                    </div>
                    <div class="name">Câmeras 24/7</div>
                </div>
                <div class="item">
                    <div class="icon">
                        <i class="pi pi-camera"></i>
                    </div>
                    <div class="name">Câmeras 24/7</div>
                </div>
            </div>
        </div>
    </div>
    <div class="aside">
        <div class="price-block block-content">
            <h1 class="price">R$ 320.000</h1>
            <p class="text">Propriedade à venda</p>
        </div>
        <div class="contact-block block-content">
            <h2 class="title">Entre em contato</h2>
            <div class="form">
                <div class="w-full">
                    <span class="font-medium block mb-2">Nome Completo</span>
                    <input class="w-full" pInputText [(ngModel)]="name" placeholder="Nome*" />
                </div>
                <div class="w-full">
                    <span class="font-medium block mb-2">Telefone</span>
                    <p-inputmask [style]="{'width': '100%'}" mask="(999) 999-9999" [(ngModel)]="phone" placeholder="Telefone*" /> 
                </div> 
                <div class="w-full">
                    <span class="font-medium block mb-2">E-mail</span>
                    <input class="w-full" pInputText [(ngModel)]="email" placeholder="E-mail*" />
                </div>
                <div class="w-full">
                    <span class="font-medium block mb-2">Mensagem</span>
                    <p-iftalabel [style]="{'width': '100%'}">
                        <textarea class="w-full" id="message" pTextarea [(ngModel)]="message" rows="5" cols="30" style="resize: none"></textarea>
                        <label for="message">Mensagem</label>
                    </p-iftalabel>
                </div>
                <div class="w-full">
                    <p-button label="Solicitar Informação" class="btn-submit" />
                </div>
            </div>
        </div>
        <div class="real-estate-broker-block block-content">
            <div class="avatar-container">
                <p-avatar label="P" styleClass="mr-2" size="xlarge" shape="circle" />
            </div>
            <div class="details-container">
                <h3 class="font-semibold text-2xl mb-1.5">Cristina Silva</h3>
                <p class="font-light">(11) 99200-6155</p>
                <p class="font-light">info&#64;realestateexample.com</p>
            </div>
        </div>
    </div>
</div>