<app-breadcrumb [breadCrumbItems]="breadCrumbItems"></app-breadcrumb>

<app-dashboard-base [title]="'Clientes'">
    <app-content-block [title]="'Criar Novo Cliente'" [type]="'Formulário'">
        <div class="child">
            <form class="form-container" [formGroup]="form" storage="client-form">
                <app-input-text
                formControlName="name"
                [invalid]="form.controls['name'].invalid"
                [label]="'Nome Completo'" 
                [icon]="'pi-user'"></app-input-text>

                <app-input-mask 
                formControlName="phone"
                [invalid]="form.controls['phone'].invalid"
                [label]="'Telefone'"
                [icon]="'pi-phone'"
                [inputMask]="'(99) 99999-9999'"></app-input-mask>

                <app-input-text
                formControlName="email"
                [invalid]="form.controls['email'].invalid"
                [label]="'E-mail'" 
                [icon]="'pi-at'"></app-input-text>

                <app-input-datepicker
                formControlName="dateOfBirth"
                [invalid]="form.controls['dateOfBirth'].invalid"
                [label]="'Data de Nascimento'"></app-input-datepicker>

                <app-input-mask 
                formControlName="cpf"
                [invalid]="form.controls['cpf'].invalid"
                [label]="'CPF'"
                [icon]="'pi-id-card'"
                [inputMask]="'999.999.999-99'"></app-input-mask>

                <app-input-mask 
                formControlName="rg"
                [invalid]="form.controls['rg'].invalid"
                [label]="'RG'"
                [icon]="'pi-id-card'"
                [inputMask]="'99.999.999-9'"></app-input-mask>

                <app-input-select
                formControlName="tenantStatus"
                [invalid]="form.controls['tenantStatus'].invalid"
                [label]="'Status'" 
                [icon]="'pi-circle-off'"
                [items]="clientStatus"></app-input-select>

                <div formGroupName="tenantBillingAddress">
                    <app-input-select
                    formControlName="id"
                    [invalid]="!!form.get('tenantBillingAddress.id')?.invalid" 
                    [label]="'Endereço de Cobrança'"
                    [icon]="'pi-map-marker'"
                    [items]="addressesList"></app-input-select>
                </div>

                <div class="flex">
                    <p-button class="mr-2" label="Salvar" icon="pi pi-check" iconPos="right" (onClick)="postForm()"/>
                    <p-button label="Limpar" icon="pi pi-eraser" iconPos="right" severity="contrast" (onClick)="clientCreateForm.clearForm()"/>
                </div>
            </form>
            <app-form-errors 
            [item]="'Cliente'"
            [loading]="clientCreateForm.getLoading()"
            [success]="clientCreateForm.getSendSuccess()"
            [errors]="clientCreateForm.getErrorList()"></app-form-errors>
        </div>
    </app-content-block>
</app-dashboard-base>