<app-dashboard-base [title]="'Clientes'">
    <app-content-block [title]="'Criar Novo Cliente'" [type]="'Formulário'">
        <div class="child">
            <form class="form-container" [formGroup]="form" storage="client-form">
                <div class="flex flex-col gap-1">
                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="pi pi-user"></i>
                        </p-inputgroup-addon>
                        <p-floatlabel>
                            <input type="text" id="name" pInputText formControlName="name" class="name-input"/>
                            <label for="name">Nome Completo</label>
                        </p-floatlabel>
                    </p-inputgroup>
                    <p-message severity="error" variant="simple" size="small" *ngIf="form.controls['name'].invalid">Nome é obrigatório</p-message>
                </div>
                <div class="flex flex-col gap-1">
                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="pi pi-phone"></i>
                        </p-inputgroup-addon>
                        <p-floatlabel>
                            <p-inputmask id="phone" mask="(99) 99999-9999" formControlName="phone" class="w-full"/>
                            <label for="phone">Telefone</label>
                        </p-floatlabel>
                    </p-inputgroup>
                    <p-message severity="error" variant="simple" size="small" *ngIf="form.controls['phone'].invalid">Telefone é obrigatório</p-message>
                </div>
                <div class="flex flex-col gap-1">
                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="pi pi-at"></i>
                        </p-inputgroup-addon>
                        <p-floatlabel>
                            <input type="text" id="email" pInputText formControlName="email" />
                            <label for="email">E-mail</label>
                        </p-floatlabel>
                    </p-inputgroup>
                    <p-message severity="error" variant="simple" size="small" *ngIf="form.controls['email'].invalid">E-mail é obrigatório</p-message>
                </div>
                <div class="flex flex-col gap-1">
                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="pi pi-calendar"></i>
                        </p-inputgroup-addon>
                        <p-floatlabel>
                            <p-datepicker id="dateOfBirth" formControlName="dateOfBirth"/>
                            <label for="dateOfBirth">Data de Nascimento</label>
                        </p-floatlabel>
                    </p-inputgroup>
                    <p-message severity="error" variant="simple" size="small" *ngIf="form.controls['dateOfBirth'].invalid">Data de Nascimento é obrigatório</p-message>
                </div>
                <div class="flex flex-col gap-1">
                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="pi pi-id-card"></i>
                        </p-inputgroup-addon>
                        <p-floatlabel>
                            <p-inputmask id="cpf" mask="999.999.999-99" formControlName="cpf" class="w-full"/>
                            <label for="cpf">CPF</label>
                        </p-floatlabel>
                    </p-inputgroup>
                    <p-message severity="error" variant="simple" size="small" *ngIf="form.controls['cpf'].invalid">CPF é obrigatório</p-message>
                </div>
                <div class="flex flex-col gap-1">
                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="pi pi-id-card"></i>
                        </p-inputgroup-addon>
                        <p-floatlabel>
                            <p-inputmask id="rg" mask="99.999.999-9" formControlName="rg" class="w-full"/>
                            <label for="rg">RG</label>
                        </p-floatlabel>
                    </p-inputgroup>
                    <p-message severity="error" variant="simple" size="small" *ngIf="form.controls['rg'].invalid">RG é obrigatório</p-message>
                </div>
                <div class="flex flex-col gap-1">
                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="pi pi-circle-off"></i>
                        </p-inputgroup-addon>
                        <p-floatlabel>
                            <p-select id="tenantStatus" formControlName="tenantStatus" [options]="status" class="w-full md:w-56" />
                            <label for="tenantStatus">Status</label>
                        </p-floatlabel>
                    </p-inputgroup>
                    <p-message severity="error" variant="simple" size="small" *ngIf="form.controls['tenantStatus'].invalid">Status é obrigatório</p-message>
                </div>
                <div class="flex flex-col gap-1">
                    <p-inputgroup formGroupName="tenantBillingAddress">
                        <p-inputgroup-addon>
                            <i class="pi pi-map-marker"></i>
                        </p-inputgroup-addon>
                        <p-floatlabel>
                            <p-select [(ngModel)]="selectedOption" formControlName="id" [options]="addresses" [filter]="true" filterBy="cep" [showClear]="true" placeholder="Endereço de Cobrança" class="w-full md:w-56">
                                <ng-template #selectedItem let-selectedOption>
                                    <div class="flex items-center gap-2">
                                        <div>{{ selectedOption.street }}, {{ selectedOption.number }} - {{ selectedOption.complement }}, {{ selectedOption.district }}, {{ selectedOption.city }} - {{ selectedOption.state }}, {{ selectedOption.cep }}, {{ selectedOption.country }}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-address #item>
                                    <div class="flex items-center gap-2">
                                        <div>{{ address.street }}, {{ address.number }} - {{ address.complement }}, {{ address.district }}, {{ address.city }} - {{ address.state }}, {{ address.cep }}, {{ address.country }}</div>
                                    </div>
                                </ng-template>
                                <ng-template #footer>
                                    <div class="p-3 w-full">
                                        <p-button label="Adicionar novo endereço" [routerLink]="'/dashboard/clientes/enderecos/criar'" fluid severity="secondary" text size="small" icon="pi pi-plus" />
                                    </div>
                                </ng-template>
                            </p-select>
                        </p-floatlabel>
                    </p-inputgroup>
                    <p-message severity="error" variant="simple" size="small" *ngIf="form.controls['tenantBillingAddress'].invalid">Endereço de Cobrança é obrigatório</p-message>
                </div>
                <div class="flex">
                    <p-button class="mr-2" label="Salvar" icon="pi pi-check" iconPos="right" (onClick)="submit()"/>
                    <p-button label="Limpar" icon="pi pi-eraser" iconPos="right" severity="contrast" (onClick)="cleanForm()"/>
                </div>
            </form>
            <ul class="ml-2 w-full alerts-container">
                <p-message *ngIf="loading" severity="info" icon="pi pi-send" text="Carregando..." />
                <p-message *ngIf="sendSuccess" severity="success" icon="pi pi-check-circle" styleClass="mb-2">Cliente criado com sucesso!</p-message>
                <p-message *ngFor="let err of errorList" severity="error" icon="pi pi-times-circle" styleClass="mb-2">
                    {{ err.field }}: {{ err.message }}
                </p-message>
            </ul>
        </div>
    </app-content-block>
</app-dashboard-base>