<div class="container">
    <h1 class="title">Confirme os Detalhes do Imóvel</h1>
    <div class="confirm-container">
        <div class="grid grid-cols-3 gap-4">
            <p-fieldset>
                <ng-template #header>
                    <div class="flex items-center gap-2 px-2">
                        <div>
                            <i class="pi pi-map-marker"></i>
                        </div>
                        <span class="font-bold">Endereço</span>
                    </div>
                </ng-template>
                <div class="flex gap-2 flex-col" *ngIf="address">
                    <p-divider />
                    <div class="flex gap-2 flex-col">
                        <h2 class="font-semibold">Rua/Avenida: </h2>
                        <p class="m-0">{{ address.street }}</p>
                    </div>
                    <p-divider />
                    <div class="flex gap-2 flex-col">
                        <h2 class="font-semibold">Bairro: </h2>
                        <p class="m-0">{{ address.district }}</p>
                    </div>
                    <p-divider />
                    <div class="flex gap-2 flex-col">
                        <h2 class="font-semibold">Cidade: </h2>
                        <p class="m-0">{{ address.city }}</p>
                    </div>
                    <p-divider />
                    <div class="flex gap-2 flex-col">
                        <h2 class="font-semibold">Estado: </h2>
                        <p class="m-0">{{ address.state }}</p>
                    </div>
                    <p-divider />
                    <div class="flex gap-2 flex-col">
                        <h2 class="font-semibold">País: </h2>
                        <p class="m-0">{{ address.country }}</p>
                    </div>
                    <p-divider />
                    <div class="flex gap-2 flex-col">
                        <h2 class="font-semibold">CEP: </h2>
                        <p class="m-0">{{ address.cep }}</p>
                    </div>
                    <p-divider />
                    <div class="flex gap-2 flex-col">
                        <h2 class="font-semibold">Complemento: </h2>
                        <p class="m-0">{{ address.complement }}</p>
                    </div>
                </div>
            </p-fieldset>
            <p-fieldset>
                <ng-template #header>
                    <div class="flex items-center gap-2 px-2">
                        <div>
                            <i class="pi pi-user"></i>
                        </div>
                        <span class="font-bold">Proprietário</span>
                    </div>
                </ng-template>
                <div class="flex gap-2 flex-col" *ngIf="owner">
                    <p-divider />
                    <div class="flex gap-2 flex-col">
                        <h2 class="font-semibold">Nome: </h2>
                        <p class="m-0">{{ owner.name }}</p>
                    </div>
                    <p-divider />
                    <div class="flex gap-2 flex-col">
                        <h2 class="font-semibold">Telefone: </h2>
                        <p class="m-0">{{ owner.phone }}</p>
                    </div>
                    <p-divider />
                    <div class="flex gap-2 flex-col">
                        <h2 class="font-semibold">E-mail: </h2>
                        <p class="m-0">{{ owner.email }}</p>
                    </div>
                    <p-divider />
                </div>
            </p-fieldset>
            <p-fieldset>
                <ng-template #header>
                    <div class="flex items-center gap-2 px-2">
                        <div>
                            <i class="pi pi-home"></i>
                        </div>
                        <span class="font-bold">Propriedade</span>
                    </div>
                </ng-template>
                <div class="flex gap-2 flex-col">
                    <p-divider />
                    <div class="flex gap-2">
                        <h2 class="font-semibold">Descrição: </h2>
                        <p class="m-0">{{ form.get('step1.description')?.value }}</p>
                    </div>
                    <p-divider />
                    
                    <div class="flex gap-2">
                        <h2 class="font-semibold">Número de quartos: </h2>
                        <p class="m-0">{{ form.get('step1.numberBedrooms')?.value }}</p>
                    </div>
                    <p-divider />
                    
                    <div class="flex gap-2">
                        <h2 class="font-semibold">Número de banheiros: </h2>
                        <p class="m-0">{{ form.get('step1.numberBathrooms')?.value }}</p>
                    </div>
                    <p-divider />
                    
                    <div class="flex gap-2">
                        <h2 class="font-semibold">Número de suítes: </h2>
                        <p class="m-0">{{ form.get('step1.numberSuites')?.value }}</p>
                    </div>
                    <p-divider />
                    
                    <div class="flex gap-2">
                        <h2 class="font-semibold">Área total: </h2>
                        <p class="m-0">{{ form.get('step1.totalArea')?.value }}</p>
                    </div>
                    <p-divider />
                    
                    <div class="flex gap-2">
                        <h2 class="font-semibold">Área construída: </h2>
                        <p class="m-0">{{ form.get('step1.builtArea')?.value }}</p>
                    </div>
                    <p-divider />
                    
                    <div class="flex gap-2">
                        <h2 class="font-semibold">Vagas na garagem: </h2>
                        <p class="m-0">{{ form.get('step1.garageSpaces')?.value }}</p>
                    </div>
                    <p-divider />
                    
                    <div class="flex gap-2">
                        <h2 class="font-semibold">Ano de construção: </h2>
                        <p class="m-0">{{ form.get('step1.yearConstruction')?.value }}</p>
                    </div>
                    <p-divider />
                    
                    <div class="flex gap-2">
                        <h2 class="font-semibold">Tipo de imóvel: </h2>
                        <p class="m-0">{{ form.get('step1.propertyType')?.value?.name }}</p>
                    </div>
                    <p-divider />
                    
                    <div class="flex gap-2">
                        <h2 class="font-semibold">Status de ocupação: </h2>
                        <p class="m-0">{{ form.get('step1.occupancyStatus')?.value?.name }}</p>
                    </div>
                    <p-divider />
                    
                    <div class="flex gap-2">
                        <h2 class="font-semibold">Valor de mercado: </h2>
                        <p class="m-0">{{ form.get('step1.marketValue')?.value }}</p>
                    </div>
                    <p-divider />
                    
                    <div class="flex gap-2">
                        <h2 class="font-semibold">Valor do aluguel: </h2>
                        <p class="m-0">{{ form.get('step1.rentalValue')?.value }}</p>
                    </div>
                    <p-divider />
                    
                    <div class="flex gap-2">
                        <h2 class="font-semibold">Última reforma: </h2>
                        <p class="m-0">{{ form.get('step1.dateLastRenovation')?.value }}</p>
                    </div>
                    <p-divider />
                    
                    <div class="flex gap-2">
                        <h2 class="font-semibold">Imagens: </h2>
                        <div class="flex flex-col gap-2">
                            <ng-container *ngFor="let image of form.get('step1.images')?.value">
                                <img [src]="image" alt="Imagem do imóvel" class="w-24 h-24 object-cover rounded-lg">
                            </ng-container>
                        </div>
                    </div>
                    <p-divider />
                </div>                
            </p-fieldset>
        </div>
        <div class="card flex gap-2">
            <p-button (click)="registrationConfirmation($event)" label="Salvar" [outlined]="true" />
            <p-button (click)="deletionConfirmation($event)" label="Cancelar" severity="danger" [outlined]="true" />
            <p-toast />
            <p-confirmdialog />
        </div>
        <app-form-errors 
            [item]="'Propriedade'"
            [loading]="propertyCreateForm.getLoading()"
            [success]="propertyCreateForm.getSendSuccess()"
            [errors]="propertyCreateForm.getErrorList()"></app-form-errors>
    </div>
</div>