<section class="content-container">
    <div class="header">
        <div class="child">
            <h1>Imóveis em destaque</h1>
        </div>
        <div class="child second">
            <p><a href="#">Ver todos</a></p>
            <button><i class="pi pi-arrow-left"></i></button>
            <button><i class="pi pi-arrow-right"></i></button>
        </div>
    </div>
    <div class="carousel-container">
        <p-carousel 
        [value]="propertiesMinimal" 
        [numVisible]="3.5" 
        [numScroll]="1" 
        [circular]="false" 
        [responsiveOptions]="responsiveOptions" 
        autoplayInterval="5000" 
        [showNavigators]="false" 
        [ngClass]="'w-full'">
            <ng-template let-property #item>
                <app-property-minimal [propertyMinimal]="property"></app-property-minimal>
            </ng-template>
        </p-carousel>
    </div>
</section>