<section class="content-container">
    <div class="header">
        <h1>O que você procura?</h1>
        <div class="places-container">
            <p-splitbutton class="item" label="Cidade" severity="secondary" />
            <p-splitbutton class="item" label="Tipo de Imóvel" severity="secondary" />
            <p-splitbutton class="item" label="Tipo de Locação" severity="secondary" />
            <p-button class="item submit" label="Buscar" icon="pi pi-search" iconPos="right" />
        </div>
    </div>
    <div class="properties-container grid grid-cols-3 gap-10">
        <div class="item" *ngFor="let property of properties">
            <app-property-minimal [propertyMinimal]="property"></app-property-minimal>
        </div>
    </div>
    <div class="card flex justify-center">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120" [rowsPerPageOptions]="[10, 20, 30]" />
    </div>    
</section>