<app-breadcrumb [breadCrumbItems]="breadCrumbItems"></app-breadcrumb>

<app-dashboard-base [title]="'Contratos'">
    <app-content-block [title]="'Atualizar Contrato'" [type]="'Formulário'">
        <div class="child">
            <form class="form-container" [formGroup]="form" storage="property-additional-feature-update-form">
                <app-input-select
                formControlName="contractStatus"
                [invalid]="form.controls['contractStatus'].invalid"
                [label]="'Status de pagamento'" 
                [icon]="'pi-map-marker'"
                [items]="contractStatus"></app-input-select>
                
                <div class="flex">
                    <p-button class="mr-2" label="Salvar" icon="pi pi-check" iconPos="right" (onClick)="postForm()"/>
                    <p-button label="Limpar" icon="pi pi-eraser" iconPos="right" severity="contrast" (onClick)="contractUpdateForm.clearForm()"/>
                </div>
            </form>
            <app-form-errors 
            [item]="'Contrato'"
            [loading]="contractUpdateForm.getLoading()"
            [success]="contractUpdateForm.getSendSuccess()"
            [errors]="contractUpdateForm.getErrorList()"></app-form-errors>
        </div>
    </app-content-block>
</app-dashboard-base>