<div class="container">
    <p-toolbar styleClass="mb-6" class="!w-full">
        <ng-template #start>
            <p-button severity="danger" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedClients()" [disabled]="!selectedClients || !selectedClients.length" />
        </ng-template>
        
        <ng-template #end>
            <p-button label="Exportar CSV" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
        </ng-template>
    </p-toolbar>
    
    <p-table
    #dt
    [value]="clients"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="globalFilterFields"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedClients"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} para {last} de {totalRecords} entradas"
    [showCurrentPageReport]="true"
    class="!w-full"
    >
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Pesquise..." />                 
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th style="min-width: 16rem">Code</th>
            <th pSortableColumn="name" style="min-width:12rem">
                Name
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="phone" style="min-width:12rem">
                Telefone
                <p-sortIcon field="phone" />
            </th>
            <th pSortableColumn="email" style="min-width:12rem">
                E-mail
                <p-sortIcon field="email" />
            </th>
            <th pSortableColumn="inventoryStatus" style="min-width: 12rem">
                Status
                <p-sortIcon field="inventoryStatus" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-client>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="client" />
            </td>
            <td style="min-width: 12rem">{{ client.id }}</td>
            <td style="min-width: 12rem">{{ client.name }}</td>
            <td style="min-width: 12rem">{{ client.phone }}</td>
            <td style="min-width: 12rem">{{ client.email }}</td>
            <td>
                <p-tag [value]="client.tenantStatus" [severity]="client.tenantStatus" />
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteClient(client)" />
            </td>
        </tr>
    </ng-template>
    <ng-template #summary>
        <div class="flex items-center justify-between">Total de {{ clients ? clients.length : 0 }} clientes.</div>
    </ng-template>
</p-table>
</div>  