<section class="login-container">
    <div class="child">
        <div class="form">
            <div class="header">
                <img src="assets/logo.png" alt="Logo">
                <h3>LeaseInsight</h3>
            </div>
            <p>Faça login na plataforma para ter acesso ao portal corporativo.</p>
            <form class="inputs" [formGroup]="form" (submit)="postForm()">
                <app-input-text
                class="alternative-input"
                formControlName="email"
                [invalid]="form.controls['email'].invalid"
                [label]="'E-mail'" 
                [icon]="'pi-at'"></app-input-text>

                <app-input-password
                class="alternative-input"
                formControlName="password"
                [invalid]="form.controls['password'].invalid"
                [label]="'Senha'" 
                [icon]="'pi-user'"></app-input-password>

                <div class="flex flex-col w-full">
                    <p-button type="submit" [label]="isLoading ? 'Carregando...' : 'Acessar'" class="submit-button" [loading]="isLoading" [disabled]="formIsValidated()"/>
                    <p-button class="clean-button" label="Limpar" icon="pi pi-eraser" iconPos="right" severity="contrast" (onClick)="loginForm.clearForm()"/>
                </div>
                <div class="flex flex-col justify-center items-center w-full">
                    <a href="#" class="forgot-pass"><p>Esqueceu sua senha? Clique aqui.</p></a>
                    <a href="#" class="forgot-pass"><p>Já possui uma conta? Clique aqui.</p></a>
                </div>
            </form>
            <app-form-errors 
            [item]="'Inquilino'"
            [loading]="loginForm.getLoading()"
            [success]="loginForm.getSendSuccess()"
            [errors]="loginForm.getErrorList()"></app-form-errors>
        </div>
    </div>
    <div class="child c-2">
        <div class="bg">
            <img src="https://i.pinimg.com/736x/d0/60/1b/d0601b4a6b90f0f9843cbf3fd1c68e1f.jpg" alt="Imagem Ilustrativa">
        </div>
        <div class="logo">   
            <div class="header">
                <img src="assets/logo.png" alt="Logo">
                <h3>LeaseInsight</h3>
            </div>
        </div>
    </div>
</section>