<div class="container">
    <h1 class="title">Informe os Detalhes do Contrato</h1>
    <form class="form-container" [formGroup]="form">
        <div class="flex flex-col gap-1">
            <p-inputgroup>
                <p-inputgroup-addon>$</p-inputgroup-addon>
                <p-floatlabel>
                    <p-inputnumber id="rentalValue" formControlName="defaultRentalValue"/>
                    <label for="rentalValue">Valor mensal</label>
                </p-floatlabel>
                <p-inputgroup-addon>.00</p-inputgroup-addon>
            </p-inputgroup>
            <p-message severity="error" variant="simple" size="small" *ngIf="form.controls['defaultRentalValue'].invalid">Valor mensal é obrigatório</p-message>
        </div>
        <div>
            <p-floatlabel class="w-full md:w-56">
                <p-select inputId="dueDate" [showClear]="true" [options]="invoiceDueDates" styleClass="w-full" formControlName="invoiceDueDate" />
                <label for="dueDate">Dia do vencimento da fatura</label>
            </p-floatlabel>
            <p-message severity="error" variant="simple" size="small" *ngIf="form.controls['invoiceDueDate'].invalid">Dia do vencimento da fatura é obrigatório</p-message>
        </div>
        <div>
            <p-floatlabel class="w-full md:w-56">
                <p-select inputId="contractStatus" [showClear]="true" [options]="contractStatus" optionLabel="status" optionValue="value" styleClass="w-full" formControlName="contractStatus" />
                <label for="contractStatus">Status do contrato</label>
            </p-floatlabel>
            <p-message severity="error" variant="simple" size="small" *ngIf="form.controls['contractStatus'].invalid">Status do contrato é obrigatório</p-message>
        </div>
        <div class="date-container">
            <div class="child-date">
                <h2>Data de início do contrato</h2>
                <p-datepicker formControlName="contractStartDate" dateFormat="yy-mm-dd" dataType="string" class="max-w-full" [inline]="true" [showWeek]="true" />
                <p-message severity="error" variant="simple" size="small" *ngIf="form.controls['contractStartDate'].invalid">Data de início de contrato é obrigatório</p-message>
            </div>
            <div class="child-date">
                <h2>Data de fim do contrato</h2>
                <p-datepicker formControlName="contractEndDate" dateFormat="yy-mm-dd" dataType="string" class="max-w-full" [inline]="true" [showWeek]="true" />
                <p-message severity="error" variant="simple" size="small" *ngIf="form.controls['contractEndDate'].invalid">Data de fim de contrato é obrigatório</p-message>
            </div>
        </div>
    </form>
</div>