<div class="container">
    <h1 class="title">Informe os Detalhes do Contrato</h1>
    <form class="form-container" [formGroup]="form">
        <app-input-number
        formControlName="defaultRentalValue"
        [invalid]="form.controls['defaultRentalValue'].invalid"
        [label]="'Valor mensal da locação'" 
        [icon]="'pi-tag'"></app-input-number>

        <app-input-select
        formControlName="invoiceDueDate"
        [invalid]="form.controls['invoiceDueDate'].invalid"
        [label]="'Dia do vencimento da fatura'" 
        [icon]="'pi-map-marker'"
        [items]="invoiceDueDates"></app-input-select>

        <app-input-select
        formControlName="contractStatus"
        [invalid]="form.controls['contractStatus'].invalid"
        [label]="'Status do contrato'" 
        [icon]="'pi-map-marker'"
        [items]="contractStatus"></app-input-select>

        <div class="date-container">
            <div class="child-date">
                <h2>Data de início do contrato</h2>
                <p-datepicker formControlName="contractStartDate" dateFormat="yy-mm-dd" dataType="string" class="max-w-full" [inline]="true" [showWeek]="true" />
                <p-message severity="error" variant="simple" size="small" *ngIf="form.controls['contractStartDate'].invalid">Data de início de contrato é obrigatório</p-message>
            </div>
            <div class="child-date">
                <h2>Data de fim do contrato</h2>
                <p-datepicker formControlName="contractEndDate" dateFormat="yy-mm-dd" dataType="string" class="max-w-full" [inline]="true" [showWeek]="true" />
                <p-message severity="error" variant="simple" size="small" *ngIf="form.controls['contractEndDate'].invalid">Data de fim de contrato é obrigatório</p-message>
            </div>
        </div>
    </form>
</div>