<app-dashboard-base [title]="'Dashboard'">
    <app-content-block [title]="'Informações Gerais'" [type]="'Dados'" [isGrid]="true">
        <div class="data-child grid-container">
            <div class="item">
                <h2>12</h2>
                <p>Funcionários</p>
            </div>
            <div class="item">
                <h2>12</h2>
                <p>Funcionários</p>
            </div>
            <div class="item">
                <h2>12</h2>
                <p>Funcionários</p>
            </div>
            <div class="item">
                <h2>12</h2>
                <p>Funcionários</p>
            </div>
            <div class="item">
                <h2>12</h2>
                <p>Funcionários</p>
            </div>
            <div class="item">
                <h2>12</h2>
                <p>Funcionários</p>
            </div>
        </div>
        <div class="data-child chart-container">
            <app-chart></app-chart>
        </div>
    </app-content-block>
    <app-content-block [title]="'Destaques do Mês'" [type]="'Destaques'">
        <div class="highlights-container">
            <div class="img-item">
                <img src="" alt="Imagem ilustrativa">
                <div class="details">
                    <li>Desenvolvedor</li>
                    <h2>Raphael Muniz</h2>
                </div>
            </div>
            <div class="img-item">
                <img src="" alt="Imagem ilustrativa">
                <div class="details">
                    <li>Desenvolvedor</li>
                    <h2>Raphael Muniz</h2>
                </div>
            </div>
            <div class="img-item">
                <img src="" alt="Imagem ilustrativa">
                <div class="details">
                    <li>Desenvolvedor</li>
                    <h2>Raphael Muniz</h2>
                </div>
            </div>
            <div class="img-item">
                <img src="" alt="Imagem ilustrativa">
                <div class="details">
                    <li>Desenvolvedor</li>
                    <h2>Raphael Muniz</h2>
                </div>
            </div>
        </div>
    </app-content-block>
</app-dashboard-base>