<div class="container">
    <h1 class="title">Selecione o perfil do inquilino</h1>
    <div class="card">
        <p-table
        #dt
        [value]="clients"
        dataKey="id"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        [paginator]="true"
        [globalFilterFields]="['name', 'phone', 'email', 'cpf']"
        [tableStyle]="{ 'min-width': '75rem' }"
        >
        <ng-template #caption>
            <div class="flex">
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input
                    pInputText
                    type="text"
                    (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Busca por palavra chave"
                    />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="width:12%"></th>
                <th style="width:20%">Nome</th>
                <th style="width:20%">Telefone</th>
                <th style="width:20%">E-mail</th>
                <th style="width:15%">Cpf</th>
            </tr>
            <tr>
                <th></th>
                <th>
                    <p-columnFilter
                    type="text"
                    field="name"
                    placeholder="Busca por Nome"
                    ariaLabel="Busca por Nome"
                    ></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter
                    type="text"
                    field="phone"
                    placeholder="Busca por Telefone"
                    ariaLabel="Busca por Telefone"
                    ></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter
                    type="text"
                    field="email"
                    placeholder="Buscar por E-mail"
                    ariaLabel="Buscar por E-mail"
                    ></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter
                    type="text"
                    field="cpf"
                    placeholder="Buscar por CPF"
                    ariaLabel="Buscar por CPF"
                    ></p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-customer>
            <tr [ngClass]="{'activated': customer.id === form.get('tenant.id')?.value}">
                <td>
                    <p-button (click)="selected(customer.id)" label="Selecionar" icon="pi pi-check-circle" iconPos="right" />
                </td>
                <td>
                    {{ customer.name }}
                </td>
                <td>
                    {{ customer.phone }}
                </td>
                <td>
                    {{ customer.email }} 
                </td>
                <td>
                    {{ customer.cpf }} 
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="5">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
</div>