<p-breadcrumb class="max-w-full" [model]="breadCrumbItems">
    <ng-template #item let-item>
        <ng-container *ngIf="item.route; else elseBlock">
            <a [routerLink]="item.route" class="p-breadcrumb-item-link">
                <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
                <span class="text-primary font-semibold">{{ item.label }}</span>
            </a>
        </ng-container>
        <ng-template #elseBlock>
            <a [href]="item.url">
                <span class="text-color">{{ item.label }}</span>
            </a>
        </ng-template>
    </ng-template>
</p-breadcrumb>

<app-dashboard-base [title]="'Proprietários'">
    <app-content-block [title]="'Cadastrar Proprietário'" [type]="'Formulário'">
        <div class="child">
            <form [formGroup]="form" storage="owner-form" class="form-container">
                <app-input-text
                formControlName="name"
                [invalid]="form.controls['name'].invalid"
                [label]="'Nome'" 
                [icon]="'pi-pencil'"></app-input-text>
                <app-input-mask 
                formControlName="phone"
                [invalid]="form.controls['phone'].invalid"
                [label]="'Telefone'"
                [icon]="'pi-mobile'"
                [inputMask]="'(99) 99999-9999'"></app-input-mask>
                <app-input-text
                formControlName="email"
                [invalid]="form.controls['email'].invalid"
                [label]="'E-mail'" 
                [icon]="'pi-at'"></app-input-text>
                <div class="flex">
                    <p-button class="mr-2" label="Salvar" icon="pi pi-check" iconPos="right" (onClick)="submit()"/>
                    <p-button label="Limpar" icon="pi pi-eraser" iconPos="right" severity="contrast" (onClick)="cleanForm()"/>
                </div>
            </form>
            <ul class="ml-2 w-full alerts-container">
                <p-message *ngIf="loading" severity="info" icon="pi pi-send" text="Carregando..." />
                <p-message *ngIf="sendSuccess" severity="success" icon="pi pi-check-circle" styleClass="mb-2">Proprietário cadastrado com sucesso!</p-message>
                <p-message *ngFor="let err of errorList" severity="error" icon="pi pi-times-circle" styleClass="mb-2">
                    {{ err.field }}: {{ err.message }}
                </p-message>
            </ul>
        </div>
    </app-content-block>
</app-dashboard-base>