:host{
    width: 100%;
}

.child{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    
    .form-container{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
    }
    
    .alerts-container{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        margin-top: 5vh;
        
        ::ng-deep{
            .p-message{
                width: fit-content !important;
            }
        }
    }
}

::ng-deep {
    .p-inputgroup .p-inputtext,
    .p-datepicker,
    .p-password{
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    .p-breadcrumb{ 
        background-color: transparent;
        padding: 2vh 12vw;
    }
    
    p-table{
        width: 100% !important;
    }
    
    .p-steps-item.p-disabled *{
        color: #C6C6C6;
        cursor: not-allowed;
    }
}