<div class="container">
    <p-toolbar styleClass="mb-6" class="!w-full">
        <ng-template #start>
            <p-button severity="danger" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedBillingAddresses()" [disabled]="!selectedBillingAddresses || !selectedBillingAddresses.length" />
        </ng-template>
        
        <ng-template #end>
            <p-button label="Exportar CSV" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
        </ng-template>
    </p-toolbar>
    
    <p-table
    #dt
    [value]="billingAddresses"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="globalFilterFields"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedBillingAddresses"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} para {last} de {totalRecords} entradas"
    [showCurrentPageReport]="true"
    class="!w-full"
    >
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" 
                (input)="dt.filterGlobal($any($event.target).value, 'contains')"  
                placeholder="Busca por palavra chave" />                  
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="street" style="min-width:12rem">
                Logradouro
                <p-sortIcon field="street" />
            </th>
            <th pSortableColumn="district" style="min-width:12rem">
                Bairro
                <p-sortIcon field="district" />
            </th>
            <th pSortableColumn="city" style="min-width:12rem">
                Cidade
                <p-sortIcon field="city" />
            </th>
            <th pSortableColumn="state" style="min-width:12rem">
                Estado
                <p-sortIcon field="state" />
            </th>
            <th pSortableColumn="country" style="min-width:12rem">
                País
                <p-sortIcon field="country" />
            </th>
            <th pSortableColumn="cep" style="min-width:12rem">
                CEP
                <p-sortIcon field="cep" />
            </th>
            <th pSortableColumn="complement" style="min-width:12rem">
                Complemento
                <p-sortIcon field="complement" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-propertyAddress>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="propertyAddress" />
            </td>
            <td>{{ propertyAddress.street }}</td>
            <td>{{ propertyAddress.district }}</td>
            <td>{{ propertyAddress.city }}</td>
            <td>{{ propertyAddress.state }}</td>
            <td>{{ propertyAddress.country }}</td>
            <td>{{ propertyAddress.cep }}</td>
            <td>{{ propertyAddress.complement }}</td>
            <td>
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deletePropertyAddress(propertyAddress)" />
            </td>
        </tr>
    </ng-template>
    <ng-template #summary>
        <div class="flex items-center justify-between">Total de {{ billingAddresses ? billingAddresses.length : 0 }} propertyAddresses.</div>
    </ng-template>
</p-table>  
</div>