:host{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}

.content-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 20vh;
    
    .base{
        position: relative;
        display: flex;
        width: 75%;
        height: fit-content;
        min-height: 80vh;
        background-color: #fff;
        border-radius: 20px;
        padding: 2vh;
        gap: 1vw;
        
        .aside{
            position: relative;
            display: flex;
            width: 20%;
            height: fit-content;
        }
        
        .content{
            position: relative;
            display: flex;
            width: 80%;
            height: auto;
        }
    }
}

::ng-deep {
    .logout-btn > .p-button { 
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    
    .alternativeStyle{
        #pn_id_7{
            width: 100%;
            border: none !important;
        }
        
        .p-menu-separator{
            display: none !important;
        }
        
        .p-menu-submenu-label {
            margin-top: 1vh;
            
            span{
                font-size: 1.5rem;
            }
        }
    }
}