<section class="container">
    <div class="header">
        <div class="child">
            <p id="type">Nosso Time</p>
            <h1>Nossos funcionários por trás do trabalho</h1>
        </div>
    </div>
    <div class="grid-container">
        <div class="item">
            <div class="card">
                <div class="image-container"></div>
                <div class="detail-container">
                    <p class="position">Desenvolvedor</p>
                    <h2 class="name">Raphael Muniz</h2>
                    <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card">
                <div class="image-container"></div>
                <div class="detail-container">
                    <p class="position">Desenvolvedor</p>
                    <h2 class="name">Raphael Muniz</h2>
                    <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card">
                <div class="image-container"></div>
                <div class="detail-container">
                    <p class="position">Desenvolvedor</p>
                    <h2 class="name">Raphael Muniz</h2>
                    <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="item last">
            <p>"Encontre o espaço ideal para cada necessidade"</p>
        </div>
    </div>
</section>