<section class="section-page">
    <div class="content-container">
        <div class="item main-item">
            <div class="content">
                <div id="header-info-container">
                    <span>icon</span>
                    <p>4.6/5 de mais de 200 reviews</p>
                </div>
                <h1 id="title">Simplifique sua Jornada Imobiliária</h1>
                <p id="description">Descubra imóveis que combinam com seu estilo de vida e trazem conforto, facilitando cada passo da sua busca pelo lugar ideal.</p>
                <a href="#" id="button-link">Explore os Imóveis</a>
            </div>
        </div>
        <div class="item right-top-item"></div>
        <div class="item right-bottom-item">
            <div class="auxiliary-block">

            </div>
        </div>
    </div>
</section>