.section-page{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    gap: 17vh;
}