:host{
    width: 100%;
}

.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-top: 5vh;
    
    .title{
        font-size: 2vw;
        font-weight: 500;
        margin-bottom: 2vh;
    }

    .confirm-container{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
        gap: 4vh;
        background-color: #fff;
        border-radius: 10px;
        padding: 2vh 2vw 4vh 2vw;
    }
}