<div class="container">
    <h1 class="title">Selecione o Endereço do Imóvel</h1>
    <form class="form-container">
        <!-- <app-input-text
        [invalid]="form.controls['complement'].invalid"
        [formField]="'complement'" 
        [label]="'Complemento'" 
        [icon]="'pi-info-circle'"></app-input-text>
        
        <app-input-number
        [invalid]="form.controls['number'].invalid"
        [formField]="'number'" 
        [label]="'Número'" 
        [icon]="'pi-mobile'"></app-input-number> -->
    </form>
</div>