:host{
    width: 100%;
}

.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-top: 5vh;
    
    .title{
        font-size: 2vw;
        font-weight: 500;
        margin-bottom: 2vh;
    }
    
    .form-container{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        gap: 5vh;

        .first-child{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 50%;
            gap: 5vh;
            margin-top: 2vh;
        }
        
        .card{
            width: 100%;
        }
    }
}

.activated{
    background-color: #2bbf2b3d !important;
    border-color: #2bbf2b !important;
}

::ng-deep{
    .p-dataview-content,
    .p-dataview-header{
        background-color: transparent;
    }
    
    .p-inputgroup .p-inputtext,
    .p-datepicker,
    .p-password{
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    .p-floatlabel{
        width: 100%;
    }
    
    .p-select-clear-icon{
        svg{
            color: #fff;
            background: #ff0000ad;
            border-radius: 50%;
            padding: 3px;
        }
    }
}