<section class="container">
    <div class="picture-container">
        <p-avatar icon="pi pi-user" class="mr-2" size="xlarge" shape="circle" />
        <div class="buttons-container">
            <p-button label="Alterar foto" icon="pi pi-user" severity="info" />
            <p-button label="Excluir foto" icon="pi pi-user" variant="outlined" severity="danger" />
        </div>
    </div>
    <div class="inputs-container">
        <form class="form-container" [formGroup]="form">
            <app-input-text
            formControlName="name"
            [isDisabled]="!profileChangesEnabled"
            [invalid]="form.controls['name'].invalid"
            [label]="'Nome Completo'" 
            [icon]="'pi-user'"></app-input-text>
            
            <app-input-text
            formControlName="email"
            [isDisabled]="!profileChangesEnabled"
            [invalid]="form.controls['email'].invalid"
            [label]="'E-mail'" 
            [icon]="'pi-at'"></app-input-text>
            
            <app-input-mask 
            formControlName="phone"
            [isDisabled]="!profileChangesEnabled"
            [invalid]="form.controls['phone'].invalid"
            [label]="'Telefone'"
            [icon]="'pi-phone'"
            [inputMask]="'(99) 99999-9999'"></app-input-mask>    
        </form>
        <div class="flex flex-col gap-2">
            <label for="username">Tipo de Conta</label>
            <input pInputText id="username" [(ngModel)]="accountType" [disabled]="true" aria-describedby="username-help" />
        </div>
        <div class="buttons-container">
            <p-button label="Habilitar Edição" icon="pi pi-user-edit" severity="info" />
            <p-button label="Salvar" icon="pi pi-check" severity="success" [disabled]="true" />
        </div>
    </div>
</section>