:host{
    width: 100% !important;
}

.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    border: 1px solid var(--p-menu-border-color);
    border-radius: 6px;
    padding: 2vh 1vw;
    gap: 3vh;
    
    .inputs-container{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 60%;
        height: fit-content;
        gap: 1.5vh;
        padding-top: 2vh;
    }
    
    .loading-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60vh;
        text-align: center;
        color: #444;
        
        .spinner {
            width: 40px;
            height: 40px;
            border: 5px solid #ccc;
            border-top: 5px solid #007bff;
            border-radius: 50%;
            animation: spin 1s linear infinite;
            margin-bottom: 1rem;
        }
        
        @keyframes spin {
            to {
                transform: rotate(360deg);
            }
        }
    }
}