<div class="flex flex-col gap-1">
    <p-inputgroup>
        <p-inputgroup-addon>
            <i [class]="'pi ' + icon"></i>
        </p-inputgroup-addon>
        <p-floatlabel>
            <textarea pTextarea id="el" style="resize: none" rows="5" [readonly]="!!isReadOnly" [(ngModel)]="value" (ngModelChange)="onInputChange()"></textarea>
            <label for="el">{{ label }}</label>
        </p-floatlabel>
    </p-inputgroup>
    <p-message severity="error" variant="simple" size="small" 
    *ngIf="invalid">
    {{ label }} é obrigatório
</p-message>
</div>