<div class="flex flex-col gap-1">
    <p-inputgroup>
        <p-inputgroup-addon>
            <i [class]="'pi ' + icon"></i>
        </p-inputgroup-addon>
        <p-floatlabel>
            <textarea pTextarea id="element" rows="5" cols="30" style="resize: none" class="h-full" [readonly]="!!isReadOnly" [(ngModel)]="value"></textarea>
            <label for="element">{{ label }}</label>
        </p-floatlabel>
    </p-inputgroup>
    <p-message severity="error" variant="simple" size="small" 
    *ngIf="invalid">
    {{ label }} é obrigatório
</p-message>
</div>