:host{
    width: 100%;
}

::ng-deep {    
    .p-inputgroup .p-inputtext,
    .p-datepicker,
    .p-password,
    textarea{
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    textarea{
        border-radius: 6px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border: 1px solid var(--p-inputtext-border-color);
    }
}