<app-breadcrumb [breadCrumbItems]="breadCrumbItems"></app-breadcrumb>

<app-dashboard-base [title]="'Clientes'" class="container">
    <app-content-block [title]="'Cadastrar Endereço de Cobrança'" [type]="'Formulário'">
        <div class="child">
            <form class="form-container" [formGroup]="form" storage="client-billing-address-form">
                <app-input-mask 
                formControlName="cep"
                [invalid]="form.controls['cep'].invalid"
                [label]="'CEP'"
                [icon]="'pi-map-marker'"
                [inputMask]="'99.999-999'"></app-input-mask>

                <app-input-text
                formControlName="street"
                [invalid]="form.controls['street'].invalid"
                [label]="'Logradouro'" 
                [icon]="'pi-map-marker'"></app-input-text>

                <app-input-text
                formControlName="district"
                [invalid]="form.controls['district'].invalid"
                [label]="'Bairro'" 
                [icon]="'pi-map-marker'"></app-input-text>

                <app-input-text
                formControlName="city"
                [invalid]="form.controls['city'].invalid"
                [label]="'Cidade'" 
                [icon]="'pi-map-marker'"></app-input-text>

                <app-input-text
                formControlName="state"
                [invalid]="form.controls['state'].invalid"
                [label]="'Estado'" 
                [icon]="'pi-map-marker'"></app-input-text>

                <app-input-select
                formControlName="country"
                [invalid]="form.controls['country'].invalid"
                [label]="'País'" 
                [icon]="'pi-map-marker'"
                [items]="countriesList"></app-input-select>

                <app-input-text
                formControlName="complement"
                [invalid]="form.controls['complement'].invalid"
                [label]="'Complemento'" 
                [icon]="'pi-map-marker'"></app-input-text>
                
                <div class="flex">
                    <p-button class="mr-2" label="Salvar" icon="pi pi-check" iconPos="right" (onClick)="postForm()"/>
                    <p-button class="mr-2" label="Limpar" icon="pi pi-eraser" iconPos="right" severity="contrast" (onClick)="clientBillingAddressCreateForm.clearForm()"/>
                </div>
            </form>
            <app-form-errors 
            [item]="'Cliente'"
            [loading]="clientBillingAddressCreateForm.getLoading()"
            [success]="clientBillingAddressCreateForm.getSendSuccess()"
            [errors]="clientBillingAddressCreateForm.getErrorList()"></app-form-errors>
        </div>
    </app-content-block>
</app-dashboard-base>