<div class="property-hero-container" *ngIf="property">
    <div class="header">
        <div class="child">
            <p id="type">{{ getPropertyType(property.propertyType) }}</p>
            <h1>Modern Loft In San Francisco</h1>
            <p id="address">
                <i class="pi pi-map-marker"></i>
                <span>{{ property.residenceAddress.street }}, {{ property.number }} - {{ property.residenceAddress.district }} - {{ property.residenceAddress.city }} - {{ property.residenceAddress.state }}</span>
            </p>
        </div>
    </div>
    <div class="grid-container">
        <div class="item" id="i1">
            <div class="block">
                <img [src]="images[0]" alt="Imagem ilustrativa">
            </div>
        </div>
        <div class="item" id="i2">
            <div class="block">
                <img [src]="images[1]" alt="Imagem ilustrativa">
            </div>
        </div>
        <div class="item" id="i3">
            <div class="block">
                <img [src]="images[2]" alt="Imagem ilustrativa">
            </div>
        </div>
        <div class="item" id="i4">
            <div class="block">
                <img [src]="images[3]" alt="Imagem ilustrativa">
            </div>
        </div>
        <div class="item" id="i5">
            <div class="block">
                <img [src]="images[4]" alt="Imagem ilustrativa">
            </div>
        </div>
    </div>
</div>