<div class="container">
    <p-toolbar styleClass="mb-6" class="!w-full">
        <ng-template #start>
            <p-button severity="danger" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedEmployees()" [disabled]="!selectedEmployees || !selectedEmployees.length" />
        </ng-template>
        
        <ng-template #end>
            <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
        </ng-template>
    </p-toolbar>
    
    <p-table
    #dt
    [value]="employees"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['name', 'phone', 'email']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedEmployees"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} para {last} de {totalRecords} entradas"
    [showCurrentPageReport]="true"
    class="!w-full">
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Employees</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input 
                pInputText 
                type="text" 
                (input)="dt.filterGlobal($any($event.target).value, 'contains')" 
                placeholder="Busca por palavra chave" />                 
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th style="min-width: 16rem">Code</th>
            <th pSortableColumn="name" style="min-width:12rem">
                Name
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="phone" style="min-width:12rem">
                Telefone
                <p-sortIcon field="phone" />
            </th>
            <th pSortableColumn="email" style="min-width:12rem">
                E-mail
                <p-sortIcon field="email" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-employee>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="employee" />
            </td>
            <td style="min-width: 12rem">{{ employee.id }}</td>
            <td style="min-width: 12rem">{{ employee.name }}</td>
            <td style="min-width: 12rem">{{ employee.phone }}</td>
            <td style="min-width: 12rem">{{ employee.email }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editEmployee(employee)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteEmployee(employee)" />
            </td>
        </tr>
    </ng-template>
    <ng-template #summary>
        <div class="flex items-center justify-between">Total de {{ employees ? employees.length : 0 }} employeees.</div>
    </ng-template>
</p-table>
</div>  