<section class="content-container">
    <div class="header">
        <div class="child">
            <h1>Depoimentos de Satisfação</h1>
        </div>
    </div>
    <div class="cards-container">
        <p-carousel 
        [value]="testimonials" 
        [numVisible]="4.5" 
        [numScroll]="1" 
        [circular]="false" 
        [responsiveOptions]="responsiveOptions" 
        autoplayInterval="5000" 
        [showNavigators]="false" 
        [ngClass]="'w-full'">
        <ng-template let-testimonial #item>
            <div class="card rounded-border mr-4 overflow-hidden h-full p-8 grid gap-y-32" [ngStyle]="{backgroundColor:'#fff'}">
                <div>
                    <h2 class="testimonial-text text-2xl">{{ testimonial.text }}</h2>
                </div>
                <div class="flex w-full">
                    <p-avatar label="V" styleClass="mr-2" size="large" [style]="{ 'background-color': '#ece9fc', color: '#2a1261' }" shape="circle" />
                    <div>
                        <p class="font-semibold">{{ testimonial.name }}</p>
                        <p class="font-light text-slate-400">{{ testimonial.position }}</p>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
</section>