<div class="flex flex-col gap-1">
    <p-inputgroup>
        <p-inputgroup-addon>
            <i [class]="'pi ' + icon"></i>
        </p-inputgroup-addon>
        <p-floatlabel>
            <p-password class="w-full" [disabled]="!!isReadOnly" inputId="over_label" [(ngModel)]="value" [toggleMask]="true" promptLabel="Informe sua senha"/>
            <label for="over_label">{{ label }}</label>
        </p-floatlabel>
    </p-inputgroup>
    <p-message severity="error" variant="simple" size="small" 
    *ngIf="invalid">
    {{ label }} é obrigatório
</p-message>
</div>